{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleHome.css' %}">
    <title>Desafio Back End - parsear CNAB - Jana Machado</title>
</head>
<body>
    <div>
        <h3>Faça upload de um arquivo</h3>
        <div class="div_form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>