

<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleInfos.css' %}">
    <title>Informações do seu aqruivo CNAB</title>
</head>
<main>
    <div>
        <h3>Suas informações</h3>
        <span>
            {{ data }}
        </span>

    </div>
    <hr>
</main>
</html>